body {
    font-family: Arial;
    background-color: #0f172a;
    color: white;
    margin: 0;
    padding: 0;
}

header {
    background-color: #111827;
    padding: 20px;
    text-align: center;
}

section {
    margin: 20px;
    padding: 15px;
    background-color: #1f2937;
    border-radius: 10px;
}

.project {
    background-color: #374151;
    padding: 10px;
    margin-top: 10px;
    border-radius: 8px;
}

footer {
    text-align: center;
    padding: 10px;
}

