body {
    background-color: #0b0f19;
    color: white;
    font-family: Arial;
    margin: 0;
}

header {
    text-align: center;
    padding: 40px;
    background: linear-gradient(to right, #111827, #1f2937);
}

nav {
    text-align: center;
    background-color: #111827;
    padding: 10px;
}

nav a {
    color: white;
    margin: 15px;
    text-decoration: none;
    font-weight: bold;
}

section {
    margin: 30px;
    padding: 20px;
    background-color: #111827;
    border-radius: 12px;
}

h2 {
    color: #60a5fa;
}

.project {
    background-color: #1f2937;
    padding: 15px;
    margin-top: 15px;
    border-radius: 10px;
}

button {
    background-color: #2563eb;
    color: white;
    border: none;
    padding: 10px;
    border-radius: 8px;
    cursor: pointer;
}

button:hover {
    background-color: #1d4ed8;
}

footer {
    text-align: center;
    padding: 20px;
    background-color: #111827;
}

